@using HomeFinder.RoleModels
@model EditRole

@{
    ViewData["Title"] = "Edit role";
}

<h1>Edit role</h1>

<div class="role-container text-center mt-5 pt-3 pb-4" style="background-color:#d7d9dbb3;">

    <form method="post" class="mt-5 pt-3">
        <div class="form-group row">
            <label asp-for="Id" class="col-md-2 col-form-label"></label>
            <div class="col-md-8">
                <input asp-for="Id" disabled class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <label asp-for="RoleName" class="col-md-2 col-form-label"></label>
            <div class="col-md-8">
                <input asp-for="RoleName" class="form-control" />
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>
        </div>

        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group row">
            <div class="col-md-12">
                <button type="submit" class="btn btn-primary">Update</button>
                <a asp-action="ListRoles" class="btn btn-primary">Cancel</a>
            </div>
        </div>
        <div class="col-md-8 offset-md-2">
        <div class="card m-3">
                <div class="card-header">
                    <h3>Users in this role</h3>
                </div>
                <div class="card-body">
                @if (Model.Users.Any())
                {
                    foreach(var user in Model.Users)
                    {
                        <h5 class="card-title">@user</h5>
                    }
                }
                else
                {
                    <h5 class="card-title">No users in this role</h5>
                }
            </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary">Add users</a>
                    <a href="#" class="btn btn-danger">Remove users</a>
                </div>
            </div>
            </div>
    </form>
</div>