@model IEnumerable<HomeFinderUser>
@inject UserManager<HomeFinderUser> userManager
@inject RoleManager<IdentityRole> roleManager

@{
    ViewData["Title"] = "All users";
}

<div class="text-center mt-5 pt-3 pb-4" style="background-color:#d7d9dbb3;">

    <h1>All roles</h1>

    @if (Model.Any())
    {


        @foreach (var user in Model)
        {
            <div class="col-md-8 offset-md-2">

                <div class="card m-3">
                    <div class="card-header">
                        User Id : @user.Id
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">@user.UserName</h5>
                        @foreach (var role in roleManager.Roles)
                        {
                            @if (await userManager.IsInRoleAsync(user, role.Name))
                            {
                                <h5>Role : @role.Name</h5>

                            }
                        }
                    </div>
                    <div class="card-footer">
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div class="col-md-8 offset-md-2">

            <div class="card">
                <div class="card-header">
                    No users creates yet
                </div>
                <div class="card-body">
                </div>
            </div>
        </div>
    }
</div>
