@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}
<div class="text-center pt-3 pb-4" style="background-color:#d7d9dbb3;">

<h1 class="text-danger pt-5">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<p>@ViewBag.ErrorMessage</p>
<h2 class="pt-5">Please click button below to go back to homepage</h2>
<a asp-action="Index" asp-controller="MainPage" class="btn btn-primary">Go to homepage</a>
</div>
