@using HomeFinder.Component.Pages

@model IEnumerable<PropertyObject>

@{
    ViewData["Title"] = "All users";
}

<h1>Hejsan</h1>

<component type="typeof(Properties)" render-mode="ServerPrerendered" param-propertyObjects="Model" />
<component type="typeof(NoticeOfInterestList)" render-mode="ServerPrerendered" />
<component type="typeof(AddProperty)" render-mode="ServerPrerendered" param-Realtor="Model"/>
