@using HomeFinder.Data
@using HomeFinder.Models
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@inject IHttpContextAccessor httpContextAccessor
@inject HomeFinderContext context

<h3>AddProperty</h3>
@{
    var task = GetRealtor();
task.Wait();
if(task.IsCompleted)
{
var modelRe = task.Result;
<h1>@modelRe.Id @modelRe.FirstName</h1>
}
}



@code {
    [Parameter] public HomeFinderUser Realtor { get; set; }

    public string UserName;

    public async Task<HomeFinderUser> GetRealtor()
    {
        UserName = httpContextAccessor.HttpContext.User.Identity.Name;
        Realtor = await context.Users.FirstOrDefaultAsync(i => i.Email == UserName);
        return Realtor;

    }
}
