@*@using HomeFinder.Controllers
@using HomeFinder.Data
@using HomeFinder.Models
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore;
@inject HomeFinderContext context

<h3>NoticeOfInterest</h3>

@code {
    var noticeOfInterest = context.NoticeOfInterests.Include(i => i.PropertyObject);
    foreach (NoticeOfInterest object in noticeOfInterest)
    {
      
    }
}*@
