@{
    ViewData["Title"] = "Privacy Policy";
}

<style>
.card-body {
    background-color: #F8F9FA;
}
</style>

<br />
<div class="card-body">
    <h1>@ViewData["Title"]</h1>
    <br />
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras quis elit diam. Duis finibus ut est sit amet lobortis.
        Mauris egestas ut orci ut scelerisque. Pellentesque quis mattis dolor, et laoreet elit. Cras nec sem sit amet leo volutpat semper.
        Etiam a vehicula eros. Suspendisse sodales enim quis enim tempus faucibus. Sed sit amet commodo elit. Pellentesque habitant
        morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum sit amet laoreet libero. Curabitur elit sem,
        efficitur non mattis nec, malesuada sit amet est. Cras non imperdiet diam. Duis porttitor vestibulum elit, at mollis leo.
        <br /><br />
        Sed dictum, metus sed finibus porttitor, mauris elit egestas lorem, vitae aliquam leo tortor at risus. Praesent est nibh,
        lacinia vitae maximus in, efficitur ultricies nunc. Aliquam erat volutpat. Proin tincidunt justo viverra auctor posuere.
        Sed ac eleifend nisl, nec rhoncus velit. Etiam at augue ipsum. Aliquam gravida accumsan dolor, blandit volutpat mi vehicula ac.
        Quisque accumsan pharetra nisi, et ultricies nibh. Etiam non lobortis nulla.
        <br /><br />
        Nulla dui arcu, sagittis id mauris sit amet, commodo porttitor turpis. Integer vel sem vel dui aliquet varius.
        Suspendisse sollicitudin, sapien nec ullamcorper auctor, ante ex volutpat enim, vitae posuere metus turpis sed leo.
        Cras nisl felis, vestibulum id nisi sed, faucibus vestibulum enim. Nam quis velit metus. In fermentum, justo vel efficitur laoreet,
        quam tellus lacinia lectus, vel maximus velit est ut nisi. Ut lacus libero, mattis eu magna sed, vehicula consequat nisl.
        Suspendisse vulputate ornare aliquam. Pellentesque suscipit tortor eu mauris fermentum ultricies. Integer interdum consequat
        convallis. Fusce vestibulum tellus in libero rhoncus, eget feugiat lorem laoreet.
    </p>
</div>
