@page
@model HomeFinder.Areas.Identity.Pages.Account.RegisterConfirmationRealtorModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*Page is redirected from RegisterRelator and get Email value from code behind get function *@

<div class="col-12 mt-5">
   <div class="card-body" style="background-color:white; border-radius: 5px; text-align: center;">   
       <p><h4>Thanks for your registration!</h4></p>
       <p><h4>Our admin will look into to your realtor proof and grant you access if its valid.</h4></p>
       <p><h4>We will contact you on @Model.Email when this process is done</h4></p>
       <a class="btn btn-primary" asp-area="" asp-controller="Home" asp-action="Index">Main menu</a> @*Return to main menu as there is nothing more to do*@
   </div>
</div>
