.custom-right-bottom {
position:absolute;
bottom:10px;
right:10px;
}
.custom-container {
    width: 32%;
    height: 18rem;
    flex-direction: row;
}
.custom-img-fit {
    object-fit:cover;
}
div.container4 {
    height: 18rem;
    position: relative;
    background-color: white;
    opacity:0.8;
}
.custom-p {
    
    font-size: 50px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}