.custom-right-bottom {
position:absolute;
bottom:10px;
right:10px;

}


/*.bottom-right label {
    position: relative;
}

.bottom-right label input[type="checkbox"] {
    position:absolute;
    opacity:0;
    cursor:pointer;
}
.heart-animation {
    transition-property: all;
    transition-duration: 500ms;
    transition-delay: 0s;
}

.bottom-right label input[type="checkbox"]:checked ~ i {
    transform: scale(1.7);
    color: red;
    transition-timing-function: cubic-bezier(0.4, 0, 0.68, 3.01);
}*/

