#properties-container {
    display: flex;
}

#properties-container > div {
    min-height: 734px;
    width: 33%;
}

#left-side .card-body {
    padding: 0;
    width: 100%;
}

#left-side > div {
    height: 43%;
    overflow-y: auto;
}

#left-side > h4 {
    height: 5%;
}

#left-under.text-center {
    background-color: #F8F9FA;
}

#right-side.text-center {
    background-color: #F8F9FA;
}

#left-side.text-center {
    background-color: #F8F9FA;
}

#left-over {
    background-color: #F8F9FA;
}

.card-body > a {
    background-color: #F8F9FA;
    color: black;
    display: block;
    padding: 20px;
    text-decoration: none;
}

.card-body {
    background-color: #F8F9FA;
}

.card {
    background-color: #F8F9FA;
}

.card-footer {
    background-color: #F8F9FA;
}

p {
    color: black;
}

#main {
    margin: 50px 0;
}

#main #faq .card {
    margin-bottom: 2px;
    border: 0;
}

#main #faq .card .card-header {
    border: 0;
    -webkit-box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);
    box-shadow: 0 0 20px 0 rgba(213, 213, 213, 0.5);
    border-radius: 2px;
    padding: 0;
}

#main #faq .card .card-header .btn-header-link {
    color: #fff;
    display: block;
    text-align: left;
    color: #222;
    padding: 20px;
}

#main #faq .card .card-header .btn-header-link:after {
    content: "\f107";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    float: right;
}

#main #faq .card .card-header .btn-header-link.collapsed {
     background: #e48153;
     color: #fff;
}

#main #faq .card .card-header .btn-header-link.collapsed:after {
     content: "\f106";
}

#main #faq .card .collapsing {
     background: #fff;
     line-height: 30px;
}

#main #faq .card .collapse {
     border: 0;
}

#main #faq .card .collapse.show {
    background: #fff;
    line-height: 30px;
    color: #222;
}

.infoTitles {
    display: block;
    background-color: #DDDDDD;
}

#propertiesTitle {
    margin-bottom: 36px;
    display: block;
    background-color: #DDDDDD;
}

.card-text {
    margin: 0;
}

.card-img {
    width: 300px;
    height: 200px;
}

.propertiesText {
    color: black;
    background-color: #fff;
}

.mt-3 {
    background-color: #F8F9FA;
}

.card-title {
    margin: 0px 0px;
}

.btn-primary.propertiesText:hover {
    border-color: #e48153;
}